badge-business/.classpath
badge-business/.project
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.core.resources.prefs
.project
badge-business/.settings/org.eclipse.core.resources.prefs
badge-business/.settings/org.eclipse.jdt.core.prefs
badge-business/.settings/org.eclipse.m2e.core.prefs
badge-business/.settings/org.eclipse.wst.common.component
badge-business/.settings/org.eclipse.wst.common.project.facet.core.xml
badge-client-ionic/.classpath
badge-client-ionic/.settings/.jsdtscope
badge-client-ionic/.settings/org.eclipse.core.resources.prefs
badge-client-ionic/.settings/org.eclipse.jdt.core.prefs
badge-client-ionic/.settings/org.eclipse.m2e.core.prefs
badge-client-ionic/.settings/org.eclipse.wst.common.component
badge-client-ionic/.settings/org.eclipse.wst.common.project.facet.core.xml
badge-client-ionic/.settings/org.eclipse.wst.jsdt.ui.superType.container
badge-client-ionic/.settings/org.eclipse.wst.jsdt.ui.superType.name
badge-client-ionic/.settings/org.eclipse.wst.validation.prefs
badge-business/target/badge-business.jar
badge-service/.classpath
badge-service/.settings/.jsdtscope
badge-service/.settings/org.eclipse.core.resources.prefs
badge-service/.settings/org.eclipse.jdt.core.prefs
badge-service/.settings/org.eclipse.m2e.core.prefs
badge-service/.settings/org.eclipse.wst.common.component
badge-service/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
badge-service/.settings/org.eclipse.wst.common.project.facet.core.xml
badge-service/.settings/org.eclipse.wst.jsdt.ui.superType.container
badge-service/.settings/org.eclipse.wst.jsdt.ui.superType.name
badge-service/.settings/org.eclipse.wst.validation.prefs
